.DS_Store
DS_Store
*.doc
*.docx
*.zip
*.xml
*.key
*.csv
*.png
*.jpeg
*.jpg
*ubyte

/Quizzes
/Lectures
/Etc
/Slides
/honey-bee-annotated-images
/bee_imgs
/PyTorchPresentation/fashionmnist
/FinalProject/MovieFrames