.DS_Store
DS_Store
*.doc
*.docx
*.zip
*.xml
*.key
*.csv
*.png
*.jpeg
*.jpg
*ubyte
*.mp4
*.pt

/Quizzes
/Lectures
/Etc
/Slides
/honey-bee-annotated-images
/bee_imgs
/PyTorchPresentation/fashionmnist
/FinalProject/MovieFrames
/Users/dieumynguyen/Documents/S2019_ObjectOrientedDesign/PyTorchPresentation/Etc
/Users/dieumynguyen/Documents/S2019_ObjectOrientedDesign/PyTorchPresentation/data
/Users/dieumynguyen/Documents/S2019_ObjectOrientedDesign/PyTorchPresentation/Presentation
/FinalProject/16_Ecological_Models.ipynb